@import 'fontawesome/css/fontawesome.css';
@import 'reset-css/reset';
@import 'textures';
@import 'bourbon';
@import 'neat';

html{
box-sizing: border-box;
}
 *, *:before, *:after{
	box-sizing:inherit;
}

body {
	background-color: red;
}
